<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>theprintspace style transfer</title>
    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/dropzone.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
  </head>
  <body>
   <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="lead"><b>theprintspace</b> style transfer</h1>
          </div>
          <div class="content-style-result-container">
            <form id="upload-widget" method="post" action="/upload_content" class="dropzone needsclick dz-clickable selected  dz-started dz-max-files-reached">
              <div class="fallback">
                <input name="file" type="file" />  
              </div>
            </form>
            <form id="upload-widget" method="post" action="/upload_style" class="dropzone needsclick dz-clickable selected  dz-started dz-max-files-reached">
              <div class="fallback">
                <input name="file" type="file" />
              </div>
            </form>
            <div class="result"></div>
            <form method="post" action="/start">
              <button class="start-btn btn-lg btn-primary btn-block" type="submit">Start</button>
              <span class="clearfix"></span>
            </form>
          </div>
        </div>
      </div>

    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/dropzone.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        function show_image(src, width, height, alt) {
            var img = document.createElement("img");
            img.src = src;
            img.width = width;
            img.height = height;
            img.alt = alt;

            // This next line will just add it to the <body> tag
            document.body.appendChild(img);
        }

        var socket = io();
        socket.on('starting',function(res){
          if(content_file != undefined && style_file != undefined)
          {
            console.log("yeah, it's starting");
            socket.emit('uploading', {content:content_file, style:style_file});
          }
        });
        socket.on('segmented', function(){
          socket.emit('style_transferring');
        });

        var content_file;
        var style_file;

        Dropzone.options.uploadWidget = {
        paramName: 'file',
        maxFilesize: 5, // MB
        maxFiles: 1,
        thumbnailMethod: 'contain',
        resizeWidth: 512,
        resizeMethod: 'contain',
        dictDefaultMessage: 'Tap here to start',
        // headers: {
        //   'x-csrf-token': document.querySelectorAll('meta[name=csrf-token]')[0].getAttributeNode('content').value,
        // },
        acceptedFiles: 'image/*',
        init: function() {
          this.on('addedfile', function( file, resp ){
            // console.log( file );
            // console.log( resp );
            if (this.files[1]!=null){
              this.removeFile(this.files[0]);
            }
          });
          this.on('success', function( file, resp ){
            // console.log( file );
            style_expr = /upload_style/;
            content_expr = /upload_content/;
            // console.log(this.element.action.search(style_expr));
            // console.log(this.element.action.search(content_expr));
            if(this.element.action.search(style_expr) > -1)
              style_file = resp.filename;
            if(this.element.action.search(content_expr) > -1)
              content_file = resp.filename;

            console.log(content_file);
            console.log(style_file);
          });
          this.on('thumbnail', function(file) {
            if ( file.width < 320 || file.height < 240 ) {
              file.rejectDimensions();
            } else {
              file.acceptDimensions();
            }
          });
        },
        accept: function(file, done) {
          file.acceptDimensions = done;
          file.rejectDimensions = function() {
            done('The image must be at least 320 x 240px')
          };
        }
      };
    </script>
  </body>
</html>